Repository googleapis/python-bigquery-magics, pull requests merged in 2025-03, with the labels that each got.

#97 fix: resolve issue where pre-release versions of dependencies are installed
  setup.py
Labels: api: bigquery, size: s

#96 chore: remove unused files
  .github/.OwlBot.lock.yaml
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/fetch_gpg_keys.sh
  .kokoro/docker/docs/requirements.in
  .kokoro/docker/docs/requirements.txt
  .kokoro/docs/common.cfg
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/docs/docs.cfg
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .kokoro/release/release.cfg
  .kokoro/requirements.in
  .kokoro/requirements.txt
Labels: api: bigquery, size: xl

#94 feat: support visualization of graph queries by adding the --graph argument.
  bigquery_magics/bigquery.py
  bigquery_magics/graph_server.py
  noxfile.py
  owlbot.py
  setup.py
  tests/unit/test_bigquery.py
  tests/unit/test_graph_server.py
Labels: api: bigquery, size: xl

#100 feat: Support multiple columns in graph visualization
  bigquery_magics/bigquery.py
  bigquery_magics/graph_server.py
  tests/unit/test_bigquery.py
  tests/unit/test_graph_server.py
Labels: api: bigquery, size: m

#104 chore: Add dependencies to prerelease validation
  noxfile.py
  owlbot.py
Labels: api: bigquery, size: s

#111 feat: add --pyformat option to use Python string formatting
  bigquery_magics/bigquery.py
  bigquery_magics/pyformat.py
  tests/system/test_bigquery.py
  tests/unit/bigquery/__init__.py
  tests/unit/bigquery/conftest.py
  tests/unit/bigquery/test_bigquery.py
  tests/unit/bigquery/test_pyformat.py
  tests/unit/test_context.py
Labels: api: bigquery, size: l
